<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Title</title>
</head>
<body ng-app="qcmMinh">

<div ng-show="quiz.shouldShowNormalMode()" ng-controller="quizCtrl as quiz">
    <button ng-click="quiz.changeMode()" class="btn">Mode normal</button>

    <ul>
        <li ng-repeat="qcm in quiz.getAllQcms()" style="margin-bottom: 20px">
            <button class="btn" ng-click="quiz.selectQcm(qcm)">
                {{qcm.title}}
            </button>

            <!--<button class="btn" ng-class="quiz.showFinishedQuestion(quizChosen)"
                    ng-click="quiz.selectQuiz(quizChosen)">{{quizChosen.title}}
            </button>-->
        </li>
    </ul>


    <div ng-if="quiz.getSelectedQcmTitle() && !quiz.isDone()">
        <h3>{{quiz.getSelectedQcmTitle()}} Selectionné</h3>
        <h4>Question numéro {{quiz.getIndexOfQuestion()}}</h4>
        <p>{{quiz.showQuestion()}}</p>
        <ul>
            <button ng-click="quiz.answerToQuestion(reponse)"
                    ng-repeat="reponse in quiz.getSelectedQcmResponses()">
                {{reponse}}
            </button>
        </ul>
    </div>

    <div ng-show="quiz.getSelectedQcmTitle() && quiz.isDone()" ng-class="quiz.showLevel()">
        Score : {{quiz.showScore()}}
    </div>





</div>
<!--
<div ng-show="quiz.shouldShowNormalMode()" ng-controller="quizCtrl as quiz">


    <div ng-show="quiz.shouldShowScore()" ng-class="quiz.showLevel()">Score : {{quiz.showScore()}}</div>


    <div ng-if="quiz.shouldShowReplay()">
        <h3>{{quiz.selectData.title}}</h3>
        <h4>Question numéro {{quiz.getIndexOfQuestion()}}</h4>
        <ul>
            <button ng-class="quiz.showColorResponse(reponse)" ng-repeat="reponse in quiz.getReponses()"
                    ng-click="quiz.replayNextQuestion()">{{reponse}}
            </button>
        </ul>
    </div>
</div>
-->

<div ng-show="edit.shouldShowEditMode()" ng-controller="editCtrl as edit">
    <button ng-click="edit.changeMode()" class="btn">Mode Edition</button>
    <ul>
        <li ng-repeat="qcm in edit.getAllQcms()">
            {{qcm.title}}
        </li>
    </ul>

    <button class="btn" ng-click="edit.addQCM()">Créer</button>

    <div ng-show="edit.shouldShowInputQCM()">
        <form ng-submit="edit.submitQcm()" name="newQcm">
            <p>QCM : <input ng-model="edit.qcmTitle" required type="text"></p>
            <button ng-disabled="newQcm.$invalid" type="submit" class="btn">Valider</button>
        </form>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="minh/app.js"></script>

</body>
</html>