<div class="container">
  <qcm-list [qcms]="qcms" [currentQcm]="currentQcm" (updateCurrentQcm)="setCurrentQcm($event)"></qcm-list>
  <qcm-play [currentQcm]="currentQcm" ></qcm-play>

  <p ></p>
  <hr/>
  <button class="btn btn-info" (click)="onClickCreateNewQcm()">Create new QCM</button>
  <div class="container" *ngIf="showCreateQcm">

      Title Qcm : <input type="text" #labelQcm/>
      <input (click)="createNewQcm(labelQcm)" class="btn btn-success" type="submit" value="Submit"/>
  </div>
  <hr/>

  <div class="container">

  </div>


</div>



