<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Angular2 LE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-pills card-header-pills">
      <li *ngFor="let app of apps" class="nav-item">
        <a class="nav-link" href="#" [ngClass]="getClassByApp(app)" (click)="onClickApp(app)">{{app}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="card border-light" [ngSwitch]="appSelected">
  <div class="card-body" *ngSwitchCase="'QCM'">
  </div>
  <div class="card-body" *ngSwitchCase="'Movies'">
    <movies-app></movies-app>
  </div>
</div>

